services:
  # 2 сервиса у нас
  carto:
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    env_file: "carto.env"
    build: . # где искать dockerfile (в корне)
    ports:
      - "8080:8080" # проброс порта в контейнер (8081 внутри)
    depends_on: # Установление зависимостей. Текущий сервис запускается после запуска базы
      - postgres-prod

  postgres-prod:
    env_file: "carto.env"
    image: postgres:17
    volumes:
      - pgdata-prod:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G

  postgres-local:
    profiles: ["dev"]
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=big_secret
    image: postgres:17
    volumes:
      - pgdata-local:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      #      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB" ]
      test: ["CMD-SHELL", "pg_isready -U \"$$POSTGRES_USER\" -d \"$$POSTGRES_DB\""]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G

volumes:
  pgdata-prod:
  pgdata-local:
