services:
  # 2 сервиса у нас
  carto:
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    env_file: "carto.env"
    build: . # где искать dockerfile (в корне)
    ports:
      - "8082:8080" # проброс порта в контейнер (8081 внутри)
    depends_on: # Установление зависимостей. Текущий сервис запускается после запуска базы
      - postgres

  postgres:
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=prod
    env_file: "carto.env"
    image: postgres:17
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
#      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB" ]
      test: ["CMD-SHELL", "pg_isready -U \"$$POSTGRES_USER\" -d \"$$POSTGRES_DB\""]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G
    entrypoint: [ "/bin/bash", "-c","
      docker-entrypoint.sh postgres &
      rm -f /initialised.txt || true &&
      until pg_isready -U $POSTGRES_USER; do sleep 3; done &&
      psql -U PG_USER -d postgres -c 'CREATE DATABASE local;' || true &&
      echo done > /initialised.txt &&
      wait"
    ]

volumes:
  pgdata: